<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="shoppingCart" th:fragment="shoppingCart">
    <div th:if="${session.CURRENT_ACCOUNT == null}">
        <div class="alert alert-warning hidden-print" role="alert">To make order, please sign in</div>
    </div>
    <div th:replace="pages/fragment/product-table.html :: product-table"></div>
    <div class="row hidden-print">
        <div class="col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
            <div th:if="${session.CURRENT_ACCOUNT}!= null">
                <form th:action="@{/order}" method="post" >
                    <input type="submit" class="post-request btn btn-primary btn-block" value="Make order">
                </form>
            </div>
            <div th:if="${session.CURRENT_ACCOUNT} == null">
                <div th:replace="pages/fragment/sign-in.html :: mySignIn"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>